html {
    margin: 0 auto;
    max-width: 900px;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 768px) {
  html {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    max-width: 500px;
  }
}

/* Color palette for dark mode:
 * Background : #100c08
 * Text : #fffafa
 * Links : #ff2442
 * Highlights: #ffb830
 * */

@media (prefers-color-scheme: dark) {
  /* styles for dark mode */
  body {
    background-color: #100c08;
    color: #fffafa;
  }
  a, h1 {
    color: #ff2442;
  }
  h2 {
    color:#ffb830;
  }
}

/* Color palette for light mode:
 * Background : #ffedda
 * Text : #34222e
 * Links : #ff6363
 * Highlights: #ffbd69
 * */

@media (prefers-color-scheme: light) {
  /* styles for light mode */
  body {
    background-color: #ffedda;
    color: #34222e;
  }
  a, h1 {
    color: #ff6363;
  }
  h2 {
    color: #ffbd69;
  }
}

.blogpost > * > img {
  width: 100%;
  height: auto;
}

