html {
    margin: 0 auto;
    max-width: 900px;
}

body {
  font-family: 'Ubuntu', sans-serif;
}


a {
  position: relative;
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  html {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    max-width: 500px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0e0a07;
    color: #f5f0ec;
  }
  a, h1 {
    color: #ff5f6d;
  }
  a:hover {
    text-shadow: 0 0 5px #ff0000;
  }
  h2 {
    color: #f4a950;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff3e6;
    color: #3a2c35;
  }
  a, h1 {
    color: #ff5c57;
  }
  a:hover {
  text-shadow: 0 0 20px #ff0000;
  }
  h2 {
    color: #ffb347;
  }
}

.blogpost > * > img {
  width: 100%;
  height: auto;
}
