html {
    margin: 0 auto;
    max-width: 900px;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 768px) {
  html {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    max-width: 500px;
  }
}

@media (prefers-color-scheme: dark) {
  /* styles for dark mode */
  body {
    background-color: #181818;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  /* styles for light mode */
  body {
    background-color: #ffffff;
    color: #181818
  }
}


