---
import NavigationBar from "../components/NavigationBar.astro";
import '../styles/styles.css'
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>Astro</title>
  </head>
  <NavigationBar />
  <body>
    <h1>Welcome.</h1>
  </body>
</html>
