---
import NavigationBar from "../components/NavigationBar.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>Astro</title>
  </head>
  <body>
    <NavigationBar />
    <h1>These are my projects.</h1>
  </body>
</html>
