---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="Resumé">
  <h1>RODRIGUE GASPARD</h1>
  <h2>Introduction</h2>
  <p>I'm a master's student in computer science in Kuala Lumpur, looking for freelance work in order to hone my skills in various fields. I very often write software on my own to solve niche problems. I'm also looking for open-source projects to support.</p>
  <h2>Professional experience</h2>
  <div class="experience-header">
  <h3>Junior Software Developer</h3>
    <h4><a href="https://esad-talm.fr/">École supérieure d'art et de design TALM</a> - FRANCE</h4>
    <i>March 2020 - November 2022</i>
  </div>
  <ul>
    <li>Creation of a database management application using <a href="https://www.filemaker.com/downloads/">Filemaker</a> from scratch, in order to manage students, transactions, classes, administrative documents and schedlies.</li>
    <li>Management of an online payment solution for students</li>
    <li>Formation of users across all the three sites of TALM in the form of seminars</li>
    <li>Redaction of a user and technical documentation using pandoc</li>
    <li>Formation of an intern between August 2022 and November 2022</li>
  </ul>
  <h2>Academic background</h2>
  <div class="experience-header">
  <h3>Master in Computer Science</h3>
    <h4><a href="https://www.unikl.edu.my/">UNIKL</a> - MALAYSIA</h4>
    <i>Ongoing</i>
  </div>
  <ul>
    <li>Computational complexity theory</li>
    <li>Deep learning</li>
    <li>Research methodology</li>
    <li>Innovation, leadership and entrepreneurship</li>
    <li>Algorithm analysis</li>
  </ul>
  <div class="experience-header">
  <h3>Bachelor's in Web Development</h3>
    <h4><a href="https://www.mydigitalschool.com/">MyDigitalSchool Angers</a> - FRANCE</h4>
    <i>2021 - 2022</i>
  </div>
  <ul>
    <li>Design patterns with C#</li>
    <li>Web frameworks with React and Vue.JS</li>
    <li>Mobile development with ReactNative</li>
    <li>Web design</li>
  </ul>
  <div class="experience-header">
  <h3>Bachelor's degree in Computer Science</h3>
    <h4><a href="https://www.univ-angers.fr/fr/index.html">Université d'Angers</a> - FRANCE</h4>
    <i>2016 - 2020</i>
  </div>
  <ul>
    <li>Automata theory, using OCaml</li>
    <li>Graph theory</li>
    <li>Object-oriented programming in C++17</li>
    <li>Computer architecture and x86 assembly language</li>
    <li>Mathematical logic using Prolog</li>
    <li>Computer graphics using OpenGL</li>
    <li>UNIX</li>
    <li>Web development with HTML5/CSS3/Javascript</li>
    <li>Database theory using PostgreSQL</li>
  </ul>
  <h2>Hard skills</h2>
  <h3>Tech Stack</h3>
  <ul>
    <li>C/C++/C#</li>
    <li>Python</li>
    <li>CSS3/HTML5/Javascript</li>
    <li>Vue.js</li>
    <li>Astro.js</li>
    <li>React</li>
    <li>Bash</li>
    <li>UNIX</li>
    <li>SQL</li>
    <li>PostgreSQL</li>
    <li>Filemaker</li>
    <li>GraphQL</li>
    <li>Perl</li>
    <li>Rust</li>
    <li>Haskell</li>
  </ul>
  <h3>Software</h3>
  <ul>
    <li>FFmpeg</li>
    <li>pandoc</li>
    <li>curl</li>
    <li>plantuml</li>
    <li>git</li>
  </ul>
  <h2>Soft skills</h2>
  <h3>Languages</h3>
  <ul>
    <li>French : Native</li>
    <li>English : Fluent (TOEFL iBT 107/120)</li>
    <li>Japanese : Novice</li>
  </ul>
</BaseLayout>

<style>
.experience-header {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.experience-header > * {
  margin: 3px;
}
</style>
