---
import BaseLayout from "../layouts/BaseLayout.astro"
const isPrint = false;
---

<BaseLayout title="Resumé">
  <div id="pdf-content">
    <header>
      <h1>Rodrigue GASPARD</h1>
      <h2>Software Developer (Python, Rust) | FileMaker Consultant</h2>
    </header>
    <ul class="contact">
      <li>📬 : <a href="mailto:rodriguegaspard@gmail.com">rodriguegaspard@gmail.com</a></li>
      <li>📱 : <a href="https://wa.me/60167652453">(+60)167652453</a></li>
      <li>💼 : <a href="https://www.linkedin.com/in/rodriguegaspard/">LinkedIn profile</a></li>
      <li>💻 : <a href="https://github.com/rodriguegaspard">GitHub profile</a></li>
    </ul>
    <section>
      <h2>Summary</h2>
      <p>Master’s graduate from UniKL MIIT, Malaysia, with 2 years of hands-on experience as a Software Developer in Angers, France. Actively seeking fully remote opportunities—open to full-time, part-time, or freelance roles. Strong interest in backend development, data engineering, and AI, but open to exploring other areas as well. Highly adaptable with flexible working hours, bringing a global perspective, solid technical skills, and a collaborative mindset to remote teams.</p>
    </section>
    <section>
      <h2>Skills</h2>
      <ul class="skills">
        <li>HTML5 / CSS3 / JavaScript / TypeScript</li>
        <li>React / Vue.js / Astro</li>
        <li>C / x86 Assembly</li>
        <li>C++ / C# / Java</li>
        <li>Python / Pandas / Numpy / Matplotlib</li>
        <li>Unix / Bash / zsh</li>
        <li>Git / GitHub</li>
        <li>TensorFlow / PyTorch / Keras / OpenCV / Ultralytics</li>
        <li>Rust / WebAssembly</li>
        <li>SQL / PostgreSQL / MariaDB / SQLite / MySQL</li>
        <li>FileMaker Pro / FileMaker Server</li>
        <li>VirtualBox / Docker / Kubernetes</li>
      </ul>
    </section>
    <section>
      <h2>Experience</h2>
      <div class="item">
        <h3>Software Developer – ESAD TALM</h3>
        <span class="date">March 2021 – November 2022</span>
        <p>Designed and implemented a comprehensive relational database system from scratch using FileMaker Pro, unifying three schools under a single data infrastructure.</p>
        <p>Developed customized layouts and tables to manage tuition, class schedules, invoices, mailing lists, diplomas, and contact information, drastically improving administrative efficiency.</p>
        <p>Integrated Wero online payment system to streamline student payments for tuition and bookstore purchases.</p>
        <p>Delivered significant time savings across all campuses by accelerating data entry and reducing manual errors.</p>
        <p>Trained school administrative staff individually, supervised interns and maintained technical and user documentation ensuring smooth onboarding and sustained system usage.</p>
        <p>Operated autonomously with minimal supervision, demonstrating strong initiative, adaptability, and self-management.</p>
      </div>
    </section>
    <section>
      <h2>Education</h2>
      <div class="item">
        <h3>Master’s Degree in Computer Science - Universiti Kuala Lumpur (UniKL) — GPA: 3.89</h3>
        <span class="date">2023 – 2025</span>
        <p>Specialized in Artificial Intelligence, Machine Learning, and Deep Learning.</p>
        <p>Studied algorithmic complexity, design patterns (C#), management, and research methodology.</p>
        <p>Hands-on experience with Python libraries: NumPy, Pandas, TensorFlow, PyTorch, Keras, and OpenCV.</p>
        <p>Applied linear regression and other statistical models in practical ML contexts.</p>
      </div>
      <div class="item">
        <h3>B.S. in Computer Science – University of Angers</h3>
        <span class="date">2016 – 2020</span>
        <p>Covered low-level programming (C, Pascal, x86 ASM), OOP (C++, C#, Java), and functional programming (OCaml)</p>
        <p>Practical experience with React, Vue, SQL, Python, OpenGL, and Unix systems.</p>
        <p>Studied graph theory, shell scripting, and computer graphics (OpenGL, SDL2).</p>
      </div>
    </section>
    <section>
      <h2>Projects</h2>
      <div class="item">
        <h3>Master's thesis</h3>
        <span class="date">Efficient Vision-Based Hand Gesture Recognition on Low-Power Devices</span>
        <p>Researched and implemented real-time hand gesture recognition using fine-tuned YOLOv11 models for object detection and pose estimation.</p>
        <p>Conducted extensive benchmarking on CPU-focused platforms including a mid-range Dell laptop and a Raspberry Pi 4B, analyzing performance trade-offs.</p>
        <p>Evaluated multiple model export formats (e.g., OpenVINO) to assess their impact on inference speed and accuracy.</p>
        <p>Developed the system using Python, Keras, OpenCV, and Ultralytics, focusing on efficiency for edge devices.</p>
      </div>
    </section>
  </div>
</BaseLayout>
