---
import NavigationBar from "../components/NavigationBar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>Astro</title>
  </head>
  <body>
    <NavigationBar />
    <h2>Introduction</h2>
    <p></p>
    <h2>Professional experience</h2>
    <p></p>
    <h2>Academic background</h2>
    <p></p>
    <h2>Hard skills</h2>
    <p></p>
    <h2>Soft skills</h2>
    <p>French : Native</p>
    <p>English : Fluent (TOEFL iBT 107/120)</p>
    <p>Japanese : Novice</p>
  </body>
</html>
