---
import { Image } from "astro:assets"
import logo from '../assets/logo.png'
import banner from '../assets/banner.png'
import logo_dark from '../assets/logo_dark.png'
import banner_dark from '../assets/banner_dark.png'
---
<div>
  <Image 
    id="light"
    src={logo}
    alt="A drawing of a rooster wearing a red fez and sunglasses."
  />
  <Image
    id="light"
    src={banner}
    alt="A crude banner where « The Rooster's Nest » is written."
  />
  <Image 
    id="dark" 
    src={logo_dark}
    alt="A drawing of a rooster wearing a red fez and sunglasses."
  />
  <Image 
    id="dark"
    src={banner_dark}
    alt="A crude banner where « The Rooster's Nest » is written."
  />
</div>

<style>
@media (prefers-color-scheme: light) {
  #dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  #light {
    display: none;
  }
}

img {
  max-width: 100%;
  min-width: 20%;
  height: auto;
}

div {
  display: flex;
  justify-content: center;
}

</style>

<script>
</script>
