<div>
  <img src="rosco_logo.png" alt="A drawing of a rooster wearing a red fez and sunglasses." width="150" height="150"/>
  <img src="banner.png" alt="A crude banner where « The Rooster's Nest » is written." height="150"/>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
  }
</style>
