---
import { Image } from "astro:assets";
import rosco_logo from '../assets/rosco_logo.png'
import banner from '../assets/banner.png'
---
<div>
  <Image src={rosco_logo} alt="A drawing of a rooster wearing a red fez and sunglasses."/>
  <Image src={banner} alt="A crude banner where « The Rooster's Nest » is written."/>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
  }
</style>
