---
---
<div>
  <a href="https://github.com/rodriguegaspard">GitHub</a>
  <a href="https://www.linkedin.com/in/rodriguegaspard/">LinkedIn</a>
  <a href="mailto:rodriguegaspard@gmail.com">Mail</a>
  <a href="https://toot.community/@rosco">Mastodon</a>
</div>

<style>
  div {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
  }
</style>
