---
import Banner from './Banner.astro'
---
<nav>
  <Banner />
  <a href="/">blog</a>
  <a href="/resume/">cv</a>
  <a href="/projects/">projects</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
</style>
