---
import Banner from './Banner.astro'
---
<nav>
  <Banner />
  <a href="/">BLOG</a>
  <a href="/resume/">CV</a>
  <a href="/projects/">PROJECTS</a>
  <a href="https://github.com/rodriguegaspard">GITHUB</a>
  <a href="https://www.linkedin.com/in/rodriguegaspard/">LINKEDIN</a>
  <a href="mailto:rodriguegaspard@gmail.com">MAIL</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
</style>
