---
import Banner from './Banner.astro'
---
<Banner />
<div>
  <a href="/">Blog</a>
  <a href="/resume/">Resumé</a>
  <a href="/projects/">Projects</a>
</div>

<style>
  div {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
  }
</style>
