---
import { formatDate } from "../js/utils";
import BaseLayout from "./BaseLayout.astro"
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
---
<BaseLayout title="The Rooster's Nest">
  <div class="blog">
    <ul>
    {allPosts.toReversed().map((post: any) => 
        <li>
          <article class="blogpost">
            <header>
              <h1>{post.frontmatter.title}</h1>
              <i>{formatDate(post.frontmatter.pubDate)}</i>
            </header>
            <Fragment set:html={post.compiledContent()}/>
          </article>
        </li>
        )}
    </ul>
  </div>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
  }
</style>
