---
import NavigationBar from "../components/NavigationBar.astro";
import Contact from "../components/Contact.astro";
import '../styles/styles.css'
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>{title}</title>
  </head>
  <NavigationBar />
  <body>
    <header></header>
    <slot />
    <footer>
      <Contact />
    </footer>
  </body>
</html>
